body {
    height: 95vh;
    width: 95;
    display: flex;
    flex-direction: column;
    justify-content: center; /*alinha horizontalmente*/
    align-items: center; /*alinha verticalmente*/
    color: rgb(44, 139, 44);
}


/*
Canvas => elemeto que trabalha a parte gráfica e deve ser colocado tanto no html
quanto no javascript;
Context => Renderiza o que irá aparecer dentro do campo;
fillRect => desenha a area (X, Y, Largura, Altura);
defer => Faz o JS ser carregado no final;

*/